@using PagedList.Mvc
@model PagedList.IPagedList<WebSales.Models.EF.Customer>

@{
    ViewBag.Title = "Index";
}


<div class="card shadow p-3">
    <div class="card-body">
        <h2>Loai mat hang</h2>
        @Html.Partial("IndexPartialView\\CreateAndFind")
    </div>
    <div class="overflow-auto">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        PassWord
                    </th>
                    <th>
                        FullName
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Photo
                    </th>
                    <th>
                        Activated
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Activated)*@

                @{
                    string classCss = (bool)item.Activated ? "btn-success" : "btn-danger";
                    string content = (bool)item.Activated ? "Da kich hoat" : "Chua kich hoat";

                }
                <button class="btn btn-block btn-sm @classCss border-dark">@content</button>
            </td>
            <td class="text-nowrap" width="1px">
                @Html.Partial("IndexPartialView\\TableFeature", item.ID)
            </td>
        </tr>
            }

        </table>
    </div>
    <div>
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { page = Page, pageSize = ViewBag.PageSize, keyword = ViewBag.Keyword }))
    </div>
</div>

@section css{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
